@using OctoBotSharp.Web.Areas.Admin.Models

@model UserPermissionsViewModel

@{
    ViewBag.Title = "User Permissions";
}

<h2>@ViewBag.Title <small>@Model.UserName</small></h2>

@using (Html.BeginForm("SetPermissions", "UserManagement"))
{ 
    @Html.HiddenFor(model => model.UserId)
    
    <hr />
    
    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Key</td>
                    <td>@Html.CheckBoxFor(m => m.Roles[role.Key])</td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-default" href="@Url.Action("Index")" role="button">Cancel</a>
}
