@model IEnumerable<OctoBotSharp.Web.Models.Members.UserSummary>

@{
    ViewBag.Title = "Electoral Roll";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentWealth)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentWealth)
                </td>
            </tr>
        }
    </tbody>
</table>
